{% extends "base.html" %}

{% load staticfiles %}

{% block title %}register{% endblock %}

{% block content %}
<div class="container text-center" style="margin-top: 80px;">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <div style="background-color: white;padding: 20px 15px 20px 15px;height: 520px;">
            <h1>注册</h1>
            <form class="form-horizontal" action="." method="post">{% csrf_token %}
                <div class="input-group">
                    <div class="text-left" style="margin-top: 30px;">{{ form.username }}</div>
                </div>
                <div class="input-group">
                    <div class="text-left" style="margin-top: 30px;">{{ form.email }}</div>
                </div>
                <div class="input-group">
                    <div class="text-left" style="margin-top: 30px;">{{ form.password }}</div>
                </div>
                <div class="input-group">
                    <div class="text-left" style="margin-top: 30px;">{{ form.password2 }}</div>
                </div>
                <input type="submit" class="btn btn-primary btn-default btn-block" value="注册"  style="margin-top: 60px;height: 40px;">
            </form>
        </div>
    </div>
    <div class="col-md-4"></div>

</div>

{% endblock %}