{% extends "base.html" %}

{% load staticfiles %}

{% block title %}{{ article.title }}{% endblock %}

{% block content %}
    <link rel="stylesheet" href="{% static 'editor/css/editormd.preview.css' %}">
<div class="container column-bg">
    <header>
        <h1>{{ article.title }}</h1>
        <span>{{ article.created }}</span>
        <span style="margin-left: 20px">{{ article.author }}</span>
        <span style="margin-left: 20px"  id="users_like">{{ article.users_like.count }} 人喜欢</span>
        <span style="margin-left: 20px">阅读次数: {{ total_views }}</span>
        <span style="margin-left: 20px;">Tags: {{ article.article_tag.all | join:", " }}</span>
    </header>
    <hr style="border:0.5px solid #93a1a1;">
    <div id="editormd-view">
        <textarea id="append-test" style="display: none;">{{ article.body }}</textarea>
    </div>
    <div style="width: 50px;float: right;margin-right: -68px;margin-top: -171px;">
        <ul class="list-group">
            <li class="list-group-item"><a onclick="like_articles({{ article.id }}, 'like')" href="#"><span class="glyphicon glyphicon-thumbs-up" style="font-size: 20px;" title="点赞"></span></a> </li>
            <li class="list-group-item"><a onclick="like_articles({{ article.id }}, 'unlike')" href="#"><span class="glyphicon glyphicon-thumbs-down" style="font-size: 20px;" title="取消赞"></span></a> </li>
            <li class="list-group-item"><a href="#" onclick="article_collect({{ article.id}}, 'collect')"><span class="glyphicon glyphicon-bookmark" style="font-size: 20px;" title="收藏"></span></a>  </li>
            <li class="list-group-item"><a href="#comment"><span class="glyphicon glyphicon-comment" style="font-size: 20px;" title="评论"></span></a>  </li>
        </ul>
    </div>
    <hr>
    <div style="margin-left: 15px;margin-right: 15px;">
        <div id="comment">
            <form action="." method="post" class="form-horizontal" role="form">{% csrf_token %}
                <div class="form-group">{{ comment_form.body }}</div>
                <div class="form-group">
                    <p style="float: right;"><input type="submit" name="" value="发表评论" class="btn btn-primary"></p>
                </div>
            </form>
        </div>
    </div>

    <hr>
    <div>
        <h3>相关推荐</h3>
    </div>
    <div>
        {% for similar_article in similar_articles %}
        <div class="media well" style="padding-top: 10px;padding-bottom: 10px;">
            <a href="{% url 'list_article_title' similar_article.author.username %}" class="pull-left"><img src="{% static 'images/logo.jpg' %}" class="media-object" style="width: 50px;border-radius: 25px;" title="{{ similar_article.author }}" /></a>
            <div class="media-body">
                <a href="{{ similar_article.get_url_path }}"><h3 class="media-heading">{{ similar_article.title }}</h3></a>
                <p><a href="{{ similar_article.get_url_path }}">{{ similar_article.body|slice:'70'|linebreaks }}</a></p>
                <div>
                    <span>{{ article.created }}</span>
                    <a href="{% url 'list_article_title' similar_article.author.username %}"><span style="margin-left: 20px;">{{ similar_article.author }}</span></a>
                </div>
            </div>
        </div>
            {% empty %}
            <p>没有相关推荐文章</p>
        {% endfor %}
    </div>
    <hr>
    <div>
        <h3>相关评论</h3>
    </div>
    <div>
        {% for comment in article.comments.all %}
            <div>
            <p>{{ comment.commentator }} 说: <span>{{ comment.body }}</span></p>
            <hr style="margin-top: 10px;margin-bottom: 10px;">
            </div>
        {% endfor %}

    </div>
</div>


    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'editor/lib/marked.min.js' %}"></script>
    <script src="{% static 'editor/lib/prettify.min.js' %}"></script>
    <script src="{% static 'editor/lib/raphael.min.js' %}"></script>
    <script src="{% static 'editor/lib/underscore.min.js' %}"></script>
    <script src="{% static 'editor/lib/sequence-diagram.min.js' %}"></script>
    <script src="{% static 'editor/lib/flowchart.min.js' %}"></script>
    <script src="{% static 'editor/lib/jquery.flowchart.min.js' %}"></script>
    <script src="{% static 'editor/editormd.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/layer.js' %}"></script>
    <script type="text/javascript">
        $(function () {
            editormd.markdownToHTML("editormd-view", {
                htmlDecode:"style,script,iframe",
                emoji:true,
                taskList:true,
                tex:true,
                flowChart:true,
                sequenceDiagram:true,
            });
        });
 {#点赞#}
        function like_articles(id, action) {
            $.ajax({
               url:"{% url 'like_article' %}",
               type:"POST",
               data:{"id": id, "action": action},
               success:function (e) {
                   if(e=="1"){
                       layer.msg("thanks");
                       window.location.reload();
                   }else {
                       window.location.reload();
                   }
               },
            });
        }
        function article_collect(id, action) {
            $.ajax({
               url:"{% url 'article_collect' %}",
               type:"POST",
               data:{"id": id, "action": action},
               success:function (e) {
                   if(e=="1"){
                       layer.msg("收藏成功");
                   }else {
                       layer.msg("收藏失败")
                   }
               },
            });
        }

    </script>
{% endblock %}