{% extends "base.html" %}

{% load staticfiles %}

{% block title %}{{ user.username }}的博客{% endblock %}

{% block content %}
<div class="container column-bg">
    <div class="col-md-9" style="margin-top: 30px;">
        {% for article in articles %}
        <div class="media well" style="padding-top: 10px;padding-bottom: 10px;">
            <a href="{% url 'list_article_title' article.author.username %}" class="pull-left"><img src="{{  userinfo.photo | striptags }}" class="media-object" style="width: 50px;border-radius: 25px;" title="{{ article.author }}" /></a>
            <div class="media-body">
                <a href="{{ article.get_url_path }}"><h3 class="media-heading">{{ article.title }}</h3></a>
                <p><a href="{{ article.get_url_path }}">{{ article.body|slice:'70'|linebreaks }}</a></p>
                <div>
                    <span>{{ article.created }}</span>
                    <a href="{% url 'list_article_title' article.author.username %}"><span style="margin-left: 20px;">{{ article.author }}</span></a>
                </div>
            </div>
        </div>
        {% endfor %}

        {% if articles %}
            <div class="col-md-12 column text-center" style="margin-top: 50px;">
                <ul class="pagination">
                    {% if page.has_previous %}
                        <li><a href="?page={{ page.previous_page_number }}">上一页</a></li>
                    {% else %}
                        <li><a href="#">上一页</a></li>
                    {% endif %}

                    {% if page.paginator.num_pages >= 2 %}
                        <li><a href="?page=1">1</a></li>
                        <li><a href="?page=2">2</a></li>
                    {% else %}
                        <li><a href="?page=1">1</a></li>
                    {% endif %}

                    {% if page.has_next %}
                        <li><a href="?page={{ page.next_page_number }}">下一页</a></li>
                    {% else %}
                        <li><a href="#">下一页</a></li>
                    {% endif %}
                    <li>
                        <a href="?page={{ page.paginator.num_pages }}">尾页</a>
                    </li>
                </ul>
            </div>
            {% endif %}

    </div>
    <div class="col-md-3" style="margin-top: 30px;">
        <div style="background-color: whitesmoke;border: 1px solid rgba(169,169,169,0.3);border-radius: 5px;padding: 15px 25px 15px 25px;">
            <div>
                {% if userinfo.photo %}
                    <img src="{{ userinfo.photo | striptags }}" class="img-circle" id="my_photo" name="user_face" style="width: 120px;">
                    {% else %}
                    <img src="{% static 'images/default_user.jpg' %}" class="img-circle" id="my_photo" name="user_face" style="width: 150px;">
                {% endif %}
                <h4>{{ user_user.username }}</h4>
            </div>
            <hr style="border: 0.5px solid rgba(169,169,169,0.3)">
            <div style="color:rgba(169,169,169,1.0)">
                <span class="glyphicon glyphicon-list-alt" title="专业"></span>
                <span style="margin-left: 10px">{{ userinfo.profession }}</span>
            </div>
            <div style="color: rgba(169,169,169,1.0);">
                <span class="glyphicon glyphicon-map-marker" title="地址"></span>
                <span style="margin-left: 10px">{{ userinfo.address }}</span>
            </div>
{#            <div style="margin-top: 15px;margin-bottom: 15px;">#}
{#                <button type="button" class="btn btn-default btn-block" style="color: rgba(65,105,255,0.8);" onclick="article_follow({{ user_user.id }})">关  注</button>#}
{#            </div>#}
        </div>
        <div style="margin-top: 15px;background-color: whitesmoke;border: 1px solid rgba(169,169,169,0.3);border-radius: 5px;padding: 15px 25px 15px 25px;">
            <p class="text-center" style="font-size: 17px;">他的栏目</p>
            <div>
            <ol>
                {% for column in user_user.article_column.all %}
                    <li>{{ column }} (文章数)</li>
                {% endfor %}
            </ol>
            </div>
        </div>
        <div style="margin-top: 15px;background-color: whitesmoke;border: 1px solid rgba(169,169,169,0.3);border-radius: 5px;padding: 15px 25px 15px 25px;">
            <p class="text-center" style="font-size: 17px;">他的最热文章</p>
            <div>
            <ol>
                {% for article_rank in most_viewed %}
                    <li><a href="{{ article_rank.get_url_path }}">{{ article_rank.title }}</a> </li>
                {% endfor %}
            </ol>
            </div>
        </div>
        <div style="margin-top: 15px;background-color: whitesmoke;border: 1px solid rgba(169,169,169,0.3);border-radius: 5px;padding: 15px 25px 15px 25px;">
            <p class="text-center" style="font-size: 17px;">他的最新文章</p>
            <div>
            <ol>
                {% for article_latest in article_title_latest %}
                    <li><a href="{{ article_latest.get_url_path }}">{{ article_latest.title }}</a> </li>
                {% endfor %}
            </ol>
            </div>
        </div>
    </div>
</div>
    <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/layer.js' %}"></script>
    <script type="text/javascript">
    {#function article_follow(article_user_id) {#}
    {#    $.ajax({#}
    {#        url:"{% url 'article_follow' %}",#}
    {#        type:"POST",#}
    {#        data:{"article_user_id": article_user_id},#}
    {#        success:function (e) {#}
    {#            if(e=="1"){#}
    {#                layer.msg("关注成功");#}
    {#            }#}
    {#        }#}
    {#    });#}
    }
    </script>
{% endblock %}